@model ResearchData.Portal.Models.ViewModels.Sujeitos.NovoSujeitoViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizador

@{

    ViewData["Edit Subject"] = _localizador["Editar Sujeito"];
    ViewData["Name"] = _localizador["Nome"];
    ViewData["Select a Group"] = _localizador["Selecione um Grupo"];
    ViewData["Select"] = _localizador["Selecione"];

    ViewData["Close"] = _localizador["Fechar"];
    
    ViewData["Change"] = _localizador["Alterar"];

    ViewData["fill this field with at least 5 characters!"] = _localizador["preencha esse campo com no minimo 5 caracteres!"];
    

}


<div class="modal fade" id="modalEditarSujeito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black;">@ViewData["Edit Subject"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:250px;">
                <div class="row">
                    <div class="col-lg">
                        <form asp-action="EditarSujeito" asp-controller="Sujeito" method="post" id="EditarSujeito">
                            <div class="form-group">
                                <label class="col-form-label">@ViewData["Name"]:</label>
                                <input asp-for="Descricao" class="form-control" id="nome" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">@ViewData["Select a Group"]</label>
                                <select style="height:45px;" class="form-control" asp-for="GrupoId" id="grupo">
                                    @foreach (var item in Model.Grupos)
                                    {
                                        <option value="@item.Id">@item.Nome</option>
                                    }
                                </select>
                            </div>
                            
                            <input type="hidden" asp-for="ProjetoId" />
                            <input type="hidden" asp-for="AnaliseId" />
                            <input type="hidden" asp-for="Id" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@ViewData["Close"]</button>
                <button type="button" class="btn btn-primary" onclick="submitEditSujeito()">@ViewData["Change"]</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitEditSujeito() {

        var nome = document.getElementById('nome').value;
        var grupo = document.getElementById('grupo').value;
        var x = new Boolean(false);
        var y = new Boolean(false);

        if ((nome = "" || nome < 5)) {
            document.getElementById('nome').placeholder = '@ViewData["fill this field with at least 5 characters!"]';
            x = false;
        }
        else { x = true; }

        if (grupo == "") {
            alert('@ViewData["Select a Group !"]');
            y = false;
        }
        else { y = true; }


        if (x = true && y == true) {
            document.forms["EditarSujeito"].submit();
        }
    }
</script>