@model List<ResearchData.Portal.Models.ViewModels.Colaborador.ListaDeAnaliseViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizador

@{
    ViewData["Title"] = "ListaDeAnalises";
    Layout = "~/Views/Shared/_LayoutPainel.cshtml";

    ViewData["Work"] = _localizador["Trabalhar"];
    ViewData["Leave"] = _localizador["Abandonar"];
    ViewData["Your collaborations will appear here."] = _localizador["Suas colaborações vão aparecer aqui."];
}

@if (ViewBag.MsgColaDisplay != null)
{
    <script>
        $(document).ready(function () {
            $('#ModelAvisoCola').modal('show');
        })
    </script>
}

<div class="modal fade" id="ModelAvisoCola" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:black;" id="TituloModalCentralizado">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MsgColaDisplay != null)
                {
                    @ViewBag.MsgColaDisplay
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@ViewData["Close"]</button>
            </div>
        </div>
    </div>
</div>


<div style="margin-left:3%; margin-right:3%;">
    <br />
    <br />
    <div id="anim">
        <span class="fa fa-question-circle-o fa-lg" data-toggle="tooltip" title="@ViewData["Your collaborations will appear here."]"></span>
    </div>
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header bg-dark">
                <h4 style="color:white;">@item.TituloProjeto</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @if (item.Analises != null)
                    {
                        foreach (var analise in item.Analises)
                        {
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@analise.Nome</h5>
                                        <p class="card-text">@analise.Descricao</p>
                                        <a class="btn btn-success" asp-action="AcessarAnalise" asp-controller="Analise" asp-route-analiseId="@analise.Id" asp-route-projetoId="@item.IdProjeto">@ViewData["Work"]</a>
                                        <a class="btn btn-danger" onclick="SairDaAnalise(@analise.Id)" href="javascript:void(0)">
                                            <span class="fa fa-times-circle-o fa-lg"></span> @ViewData["Leave"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>

        <br />
        <br />
    }


    <div id="ModalSairAnaliseDiv">

    </div>

</div>


<script>
    function SairDaAnalise(IdAnalise) {
        $("#ModalSairAnaliseDiv").load("/Colaborador/SairDaAnalise?idAnalise=" + IdAnalise, function () {
            $("#SairDaAnaliseModal").modal();
        });
    };
</script>